.discount-page{
    background-color: thistle;
    text-align: center;
    width: 100%;
    height: 100%;
}
.discount-page h1{
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}
.discount-page p{
    text-align: center;
    font-size: 40px;
    
}
.proof{
    display: flex;
    justify-content: center;
    gap: 0;
    flex-wrap: wrap;
    
}
.discount-page .proof input{
    padding: 10px;
    font-size: 30px;
    margin: 0;
    border: 2px solid black;
    border-radius: 5px 0 0 5px;
    color: rgb(211, 211, 211);

}
.proof button{
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 10px 16px;
    cursor: pointer;

}
.proof button:hover{
    background-color:  #0056b3;;
}
.upload-id{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.upload-id input{
   
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    
}